# Exclude All
/*

# Explicit includes
!.github
!.vscode
!.editorconfig
!.env.defaults
!.eslintignore
!.eslintrc.js
!.gitattributes
!.gitignore
!.npmignore
!.npmrc
!CHANGELOG.md
!index.js
!LICENSE
!Makefile
!package-lock.json
!package.json
!pulumi.js
!README.md
!typescript.js

# Artifacts
.DS_Store
